$black: #141414;
$darkRed: #8b0300;
$red: rgb(229, 9, 20);
$lightWhite: #e5e5e5;
$white: #ffffff;
$lightBlue: #4895ec;
$darkBlue: #0970e6;
$orangeEx: #ffcb04;
$body-bg: $black;
$search-bg: rgba($lightWhite, 0.7);
