footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $orangeEx;
  .applications {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
