header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  background-color: $orangeEx;
  padding: 1.6rem;
  border-bottom: 6px solid $darkRed;
  a {
    color: $black;
    &:hover {
      color: $red;
    }
  }
  p {
    padding: 1rem;
    color: rgba($black, 0.6);
    background-color: rgba($lightWhite, 0.7);
    clip-path: polygon(
      0 0,
      89% 0,
      100% 25%,
      100% 100%,
      70% 100%,
      12% 100%,
      0 75%,
      0% 30%
    );
  }
}
/* MOBILE*/
@media (max-width: 767px) {
  header {
    flex-direction: column;
    p {
      display: none;
    }
  }
}
