header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  background-color: $orangeEx;
  padding: 1rem;
  border-bottom: 6px solid $darkRed;
  a {
    color: $black;
    &:hover {
      color: $red;
    }
  }
  p {
    padding: 1rem;
    color: rgba($black, 0.8);
  }
}
/* MOBILE*/
@media (max-width: 767px) {
  header {
    flex-direction: column;
    p {
      display: none;
    }
  }
}
