.movie-card {
  margin: 0.5rem;
  position: relative;
  width: 20%;
  color: $lightWhite;
  overflow: hidden;

  .movie-img {
    border: solid 2px $darkRed;
    width: 97%;
  }
  .movie-information {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    opacity: 0;
    top: 1%;
    left: 1%;
    background-color: $black;
    width: 93%;
    height: 95%;
    transition: all 1s;
    color: $orangeEx;
    cursor: pointer;
    h1 {
      text-align: center;
      font-size: 2.6rem;
    }
    #see-more {
      font-size: 2.3rem;
      color: $orangeExDarker;
      transition: all 0.3s;
      &:hover {
        color: $orangeEx;
        text-decoration: underline;
      }
    }
    #favorite-movie {
      position: relative;
      &:hover {
        #tooltip {
          opacity: 0.8;
        }
      }
    }
    #tooltip {
      transition: all 0.5s;
      width: 90px;
      position: absolute;
      opacity: 0;
      top: -55px;
      left: -32px;
      background-color: $darkRed;
      color: $white;
      padding: 0.4rem;
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 92%,
        67% 92%,
        49% 100%,
        32% 92%,
        0 92%
      );
    }
    .fa-heart {
      transition: all 0.3s;
      &:hover {
        color: $darkRed;
      }
    }
  }
  &:hover {
    .movie-information {
      opacity: 0.9;
    }
    .movie-img {
      border: solid 2px $orangeEx;
    }
  }
}
@media (max-width: 767px) {
  .movie-card {
    width: 100% !important;
  }
}
/* IPAD*/
@media (min-width: 768px) and (max-width: 1024px) {
  .movie-card {
    width: 47% !important;
  }
}
