#popup-container {
  position: absolute;
  top: 35px;
  right: 10px;
  color: $lightWhite;
  z-index: 9999;
  background-color: $darkRed;
  width: 150px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}
