.container {
  background-image: url('../img/introBg.jpg');
  min-height: 600px;
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $search-bg;
    min-height: 60px;
    #search-input,
    #dateSelect,
    #search-by-category,
    #search-button {
      padding: 0.5rem;
      margin: 0.5rem;
      background-color: $white;
      border: none;
    }
    #search-input {
      width: 30%;
    }
    #search-by-category {
      width: 10%;
    }
    #search-button {
      width: 5%;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        background-color: $darkRed;
        color: $orangeEx;
      }
    }
  }
}
/* MOBILE*/
@media (max-width: 767px) {
  #search-button {
    width: 13% !important;
  }
}
/* IPAD*/
@media (min-width: 768px) and (max-width: 1024px) {
  #search-button {
    width: 11% !important;
  }
}
